{% extends "@MaciPage/base.html.twig" %}
{% block _ga %}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/bundles/macimailer/css/style.css') }}" />
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macimailer/js/jscript.js') }}" ></script>
{% endblock %}


{% block body %}

<div class="container py-4">
<div class="row">

<div id="actions" class="col-sm-6">

<h3>Send Mail</h3>

<span>Mail: {{ item.name }}</span><br/>
<span>Subject: {{ item.subject }}</span>

</div>

<div id="settings" class="col-sm-6">

<h3>...</h3>

</div>

</div>
</div>

{% endblock %}
