{% extends "@MaciPage/base.html.twig" %}

{% block _ga %}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/bundles/macimailer/css/style.css') }}" />
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macimailer/js/jscript.js') }}" ></script>
{% endblock %}


{% block body %}

<style type="text/css">

#content {
	text-align: right;
}

#actions > span {
	display: block;
}

</style>

<div id="mail" class="container py-4" data-id="{{ item.id }}">
<div class="row">

<div id="actions" class="col-sm-6">

<h3>...</h3>

</div>

<div id="content" class="col-sm-6">

<h3>...</h3>

</div>

</div>
</div>

{% endblock %}
